*{
    margin: 0;
    padding: 0;
}
.heading_bar{
    background-color: deeppink;
    height: 200px;
    overflow: hidden;
}
.main_components{
    overflow: hidden;
}

.side_bar{
    background-color: lightgreen;
    height: 350px;
    width: 20%;
    overflow: hidden;
    float: left;
}

.component{
    background-color: deepskyblue;
    height: 350px;
    width: 80%;
    overflow: hidden;
    float: right;
}
.footer{
    background-color: lightslategrey;
    height: 100px;
    overflow: hidden;
}
.box{
    border: 1px solid yellow;
    background-color: yellow;
    height: 100px;
    width: 35%;
    float: left;
    margin: 20px 40px;
    padding: 15px 35px;
}

